.MuiBreadcrumbs-root {
	padding: 0.125% 0 1.25% 3%;
}

.MuiBreadcrumbs-ol > * {
	color: #a9acb1;
	text-transform: capitalize !important;
	font-size: smaller;
}

.MuiBreadcrumbs-li, .MuiBreadcrumbs-separator {
	color: rgb(206, 202, 202) !important;
}

 label.Mui-focused {
	color: #09797a !important;
	font-weight: 900;
	font-size: large;
 }

 .MuiOutlinedInput-root fieldset {
	color: #09797a !important;
 }

 .MuiOutlinedInput-root.Mui-focused fieldset {
	border-color: #E0F0EE !important;
 }

 .read-more-link {
	color: #09797a;
 }